
$myColor: purple
$myColor2: white
$someVar: "x"
$defaultColor: yellow

// make buttons this color
=btn-background($btn-background)
  background-color: $btn-background

p
 color: $myColor2
 //Usage of function and operators.

@function x($y, $z)
  @return $y + $z

//usage of sass built-in function
body
  background-color: lighten(blue, 20%)

//Usage of node-bourbon and node-neat. Interpolation also included.
input
  +span-columns(2)
  background-color: tint(green, 30%)
  height: x(10px, 30px)
  +placeholder
    color: #{magenta - red}

button
  +btn-background(white)

section
    ul
      li
      font-size: .65em
      color: $myColor
      list-style: none
