
$myColor: purple
$myColor2: white

// make buttons this color
=btn-background($btn-background)
  background-color: $btn-background


p
 color: $myColor2


body
  background-color: lighten(blue, 20%)

//usage of node-bourbon and node-neat
input
  +span-columns(2)
  background-color: tint(green, 30%)
  height: 40px
  +placeholder
    color: white




button
  +btn-background(white)

section
    ul
      li
      font-size: .65em
      color: $myColor
      list-style: none
